In [10]:
#import kagglehub

"""
# Download latest version
path = kagglehub.dataset_download("Path to working directory", "dataset_name") # Esto es para descartar el dataset inicial, poner el path en tu ordenador local

print("Path to dataset files:", path)
"""

'\n# Download latest version\npath = kagglehub.dataset_download("Path to working directory", "dataset_name") # Esto es para descartar el dataset inicial, poner el path en tu ordenador local\n\nprint("Path to dataset files:", path)\n'

In [11]:
import pandas as pd
df = pd.read_csv('amazon_reviews.csv')
df.head() #Aqui podemos ver el dataset usado, varias columnas innecesarias

,Unnamed: 0,reviewerName,overall,reviewText,reviewTime,day_diff,helpful_yes,helpful_no,total_vote,score_pos_neg_diff,score_average_rating,wilson_lower_bound
0,0,NaN,4.0,No issues.,2014-07-23,138,0,0,0,0,0.0,0.0
1,1,0mie,5.0,"Purchased this for my device, it worked as adv...",2013-10-25,409,0,0,0,0,0.0,0.0
2,2,1K3,4.0,it works as expected. I should have sprung for...,2012-12-23,715,0,0,0,0,0.0,0.0
3,3,1m2,5.0,This think has worked out great.Had a diff. br...,2013-11-21,382,0,0,0,0,0.0,0.0
4,4,2&amp;1/2Men,5.0,"Bought it with Retail Packaging, arrived legit...",2013-07-13,513,0,0,0,0,0.0,0.0

In [12]:
#Limpiar el dataset
dfSimple = df.drop(columns=['reviewerName', 'reviewTime', 'day_diff', 'helpful_yes', 'helpful_no', 'total_vote', 'score_pos_neg_diff', 'score_average_rating', 'wilson_lower_bound'])

#De inicio trabajaremos con un dataset masivamente simplificado para poder hacer pruebas, la columna unnamed:0 no se elimina porque es un identificador de la fila y puede ser util mas adelante
dfSimple.dropna(subset=["reviewText"], inplace=True)
dfSimple.head()

   Unnamed: 0  overall                                         reviewText
0           0      4.0                                         No issues.
1           1      5.0  Purchased this for my device, it worked as adv...
2           2      4.0  it works as expected. I should have sprung for...
3           3      5.0  This think has worked out great.Had a diff. br...
4           4      5.0  Bought it with Retail Packaging, arrived legit...

In [13]:
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import nltk

In [14]:
# NLTK resources
nltk.download('stopwords') #Llista de stopwords + comunes
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\minaa\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\minaa\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [15]:
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
import re

def clean_text(text):
    # Inicializar el stemmer
    stemmer = PorterStemmer()
    # Eliminar URLs
    text = re.sub(r"http\S+|www\S+|https\S+", '', text, flags=re.MULTILINE)
    # Eliminar puntuación y números
    text = re.sub(r'[^a-zA-Z\s]', '', text)
    # Convertir a minúsculas
    text = text.lower()
    # Dividir texto en palabras
    words = text.split()
    # Eliminar stopwords
    stop_words = set(stopwords.words('english'))
    filtered_words = [word for word in words if word not in stop_words]
    # Aplicar stemming a cada palabra
    stemmed_words = [stemmer.stem(word) for word in filtered_words]
    # Reconstruir el texto procesado
    return ' '.join(stemmed_words)

In [16]:
# Create a new DataFrame with cleaned reviewText and the overall column
dfCleaned = dfSimple.copy()
dfCleaned['reviewText'] = dfCleaned['reviewText'].apply(clean_text)  # Apply the cleaning function
#dfCleaned['overall'] = dfCleaned['overall']  # Include the overall column

print(dfCleaned.head())

   Unnamed: 0  overall                                         reviewText
0           0      4.0                                               issu
1           1      5.0  purchas devic work advertis never much phone m...
2           2      4.0  work expect sprung higher capac think made bit...
3           3      5.0  think work greathad diff bran gb card went sou...
4           4      5.0  bought retail packag arriv legit orang envelop...

In [17]:
# Save the cleaned dataset 
dfCleaned.to_csv('amazon_reviews_Cleaned.csv', index=False)

print("Cleaned dataset saved as 'amazon_reviews_Cleaned.csv'")

Cleaned dataset saved as 'amazon_reviews_Cleaned.csv'

In [18]:
#Por ahora, trabajaremos con valores de 0 o 1 en la columna overall para tener un problema simple y poder de inicio identifcar de manera binaria si es positiva o negativa la review. Despues, querremos predecir la nota de la review por el texto con mas exactitud
dfSimpleBinary = dfCleaned.copy()
dfSimpleBinary['overall'] = dfSimpleBinary['overall'].apply(lambda x: 1 if x > 2.5 else 0)
dfSimpleBinary['overall'].value_counts()

dfSimpleBinary.head(1000)

      Unnamed: 0  overall                                         reviewText
0              0        1                                               issu
1              1        1  purchas devic work advertis never much phone m...
2              2        1  work expect sprung higher capac think made bit...
3              3        1  think work greathad diff bran gb card went sou...
4              4        1  bought retail packag arriv legit orang envelop...
...          ...      ...                                                ...
996          996        1  bought digit record memori card slot card work...
997          997        1  much say memori card work great go pro hero si...
998          998        1  gig microsd card cost less dollar per gig clas...
999          999        1  im nerd hoarder wait year memori gb want carri...
1000        1000        1  great price work flawless note love glad purch...

[1000 rows x 3 columns]

In [19]:
#Guardamos el dataset limpio para no sobreescribirlo accidentalmente, este paso es solo una precaucion. solo falta borrar los nans
dfSimpleBinary.to_csv('amazon_reviews_simpleBinary.csv', index=False)

In [20]:
#applyCleantext

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Apply TF-IDF
tfidf = TfidfVectorizer(max_features=5000)  # Limit to 5000 features for simplicity
X = tfidf.fit_transform(dfSimpleBinary['reviewText'])  

# y = Etiqueta
y = dfSimpleBinary['overall']

In [22]:
# Això nomes per ara per visualitzar el resultat despres de TF-IDF. X : sparse matrix (4914,5000), sparse matrix es representa per coordenades ja que en gran part està buida
print(X)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 103759 stored elements and shape (4914, 5000)>
  Coords	Values
  (0, 1653)	1.0
  (1, 2528)	0.22702791715087628
  (1, 823)	0.23168499616557184
  (1, 4823)	0.12027106393204469
  (1, 41)	0.32110331227102507
  (1, 2000)	0.251824320893598
  (1, 1959)	0.24263386461118552
  (1, 2189)	0.16180824072442537
  (1, 1871)	0.1727832985024435
  (1, 3355)	0.2793593101838509
  (1, 982)	0.32110331227102507
  (1, 1792)	0.2433692105492486
  (1, 3754)	0.338271858943357
  (1, 281)	0.4940444119950614
  (2, 4823)	0.08629539805931516
  (2, 1174)	0.19674853922011748
  (2, 3612)	0.4274888488415982
  (2, 1501)	0.2833042797190847
  (2, 349)	0.19550914714518575
  (2, 4041)	0.20800024036558318
  (2, 1809)	0.24164575641256789
  (2, 233)	0.2421762558912967
  (2, 1057)	0.3493663798651209
  (2, 4533)	0.23253273682741307
  (2, 2134)	0.3830118959121056
  :	:
  (4912, 1260)	0.3859603034528079
  (4912, 3057)	0.29974581644817183
  (4912, 86)	0.4407325841589227
  (4912, 1398)	0.3318883680872814
  (4913, 1355)	0.11709012506870706
  (4913, 354)	0.07777063665043013
  (4913, 1672)	0.16920015022910104
  (4913, 4210)	0.15959785302726281
  (4913, 1758)	0.15395444175383602
  (4913, 2364)	0.1279974273683543
  (4913, 3100)	0.12794308102797788
  (4913, 641)	0.30550432582501347
  (4913, 1395)	0.13244450873449473
  (4913, 3520)	0.16224264674135855
  (4913, 3557)	0.13789605731844642
  (4913, 2702)	0.15282918833482545
  (4913, 1475)	0.31068766082490074
  (4913, 1213)	0.16815872182684136
  (4913, 1888)	0.15648990282057723
  (4913, 2028)	0.2642987410499605
  (4913, 4033)	0.18909356697093324
  (4913, 182)	0.2166067918892223
  (4913, 4683)	0.22673346193869273
  (4913, 3377)	0.4104189847803172
  (4913, 3671)	0.4104189847803172

In [23]:
print(y)

0       1
1       1
2       1
3       1
4       1
       ..
4910    0
4911    1
4912    1
4913    1
4914    1
Name: overall, Length: 4914, dtype: int64

In [24]:
import pandas as pd

# Cargar el dataset limpio
dfCleaned = pd.read_csv('amazon_reviews_Cleaned.csv')

# Crear el dataset ternario
dfTernary = dfCleaned.copy()
dfTernary['overall'] = dfTernary['overall'].apply(lambda x: 0 if x < 3 else (1 if x == 3 else 2))

# Verificar la distribución de las etiquetas
print(dfTernary['overall'].value_counts())

# Guardar el nuevo dataset
dfTernary.to_csv('amazon_reviews_ternary.csv', index=False)

print("Dataset ternario guardado como 'amazon_reviews_ternary.csv'")

2    4448
0     324
1     142
Name: overall, dtype: int64
Dataset ternario guardado como 'amazon_reviews_ternary.csv'